<cdk-virtual-scroll-viewport
  itemSize="10"
  *ngIf="iRecorridoActual | async as recorrido"
>
  <mat-vertical-stepper [linear]="true">
    <mat-step
      *ngFor="let viaje of recorrido.viajes; last as isLast"
      [completed]="viaje.estado == 2"
    >
      <ng-template matStepLabel>
        {{ viaje.trayecto.terminalOrigenCodigo }} -
        {{ viaje.trayecto.terminalDestinoCodigo }}
        <mat-chip *ngIf="viaje.estado == 1">
          {{ iTimer }}
        </mat-chip>
      </ng-template>
      <mat-list dense class="static-data">
        <mat-list-item>
          <span matLine>
            Sale desde
            <b> {{ viaje.trayecto.terminalOrigen || "origen" }} </b>:
          </span>
          <span matLine>
            <i>
              {{
                viaje.fechaHoraSalidaEstipuladas
                  | date: "EEEE, MMMM d, y, h:mm:ss a"
              }}
            </i>
          </span>
        </mat-list-item>
        <mat-list-item>
          <span matLine>
            Llega a
            <b> {{ viaje.trayecto.terminalDestino || "destino" }} </b>:
          </span>
          <span matLine>
            <i>
              {{
                viaje.fechaHoraLlegadaEstipuladas
                  | date: "EEEE, MMMM d, y, h:mm:ss a"
              }}
            </i>
          </span>
        </mat-list-item>
      </mat-list>
      <mat-list dense *ngIf="viaje.estado == 2" class="real-data">
        <mat-list-item>
          <span matLine>
            Partió:
            <i>
              {{ viaje.fechaHoraRealSalida | date: "h:mm:ss a" }}
            </i>
          </span>
          <span matLine>
            Arribó:
            <i>
              {{ viaje.fechaHoraRealLlegada | date: "h:mm:ss a" }}
            </i>
          </span>
        </mat-list-item>
      </mat-list>
      <button
        mat-button
        color="secondary"
        *ngIf="viaje.estado == 1"
        (click)="delay()"
      >
        Retraso
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="viaje.estado == 1"
        (click)="stop(viaje.id, isLast)"
      >
        Detener
      </button>
      <button
        mat-button
        color="primary"
        *ngIf="viaje.estado == 0"
        (click)="start(viaje.id)"
      >
        Comenzar
      </button>
    </mat-step>
  </mat-vertical-stepper>
</cdk-virtual-scroll-viewport>
