<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Frecuencia</mat-label>
    <mat-select
      name="frecuenciaSeleccionada"
      formControlName="frecuenciaControl"
      (selectionChange)="changeFrecuencia($event)"
    >
      <mat-option
        *ngFor="let frecuencia of frecuencias"
        [value]="frecuencia"
      >
        {{ frecuenciaSeleccionada }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div #chart class="echart"></div>
