<mat-toolbar class="navigation">
  <button mat-button (click)="return()">
    <mat-icon>keyboard_arrow_left </mat-icon>
    Volver
  </button>
  <span class="mat-body title" *ngIf="!!iOrigen && !!iDestino"
    >Retrasos ocurridos entre <b>{{ iOrigen }}</b> y <b>{{ iDestino }}</b></span
  >
</mat-toolbar>
<section class="view" *ngIf="!!iRetrasos">
  <section class="columns is-1 is-centered">
    <section class="list column is-half">
      <mat-card>
        <mat-card-content [ngClass]="{ 'is-empty': iRetrasos.length == 0 }">
          <ng-container *ngIf="iRetrasos.length > 0; else emptylist">
            <evince-delays-list [iRetrasos]="iRetrasos"></evince-delays-list>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </section>
  </section>
</section>

<ng-template #emptylist>
  <mat-chip-list *ngIf="iResources" class="emptylist">
    <mat-basic-chip>
      <span>{{ iResources.emptylist }}</span>
    </mat-basic-chip>
  </mat-chip-list>
</ng-template>
